.footer {
    width: auto;
    height: 196px;
    background-color: $darkGreen;
    color: $white;
    display: flex;
    align-items: center;
    font-family: $main-fonts;
    
    .footer-info {
        width: 1110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        
        .logo-nav {
            @include gap();
            @include height();
        
            .footer-nav {
            margin-top: 24px; 
            
            }
            
        }

        .navigation {
            display: flex;
            font-size: 18px;
        }

        .link {
            padding-right: 40px;
        }

        .address {
            margin-left: -240px;
            @include height();
            
            .paragraph {
                font-size: 15px;
                line-height: 1.67;
                opacity: 0.5;
            }    
        }

        .social-copyright {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include height();

            .social-media {
                align-self: flex-end;
            }

            .white-space {
                padding-left: 16px;
            }

            .paragraph {
                font-size: 15px;
                line-height: 1.67;
                opacity: 0.6;
                align-self: flex-end;
    
                .copyright {
                    align-self: flex-end;
                }
            }
        }
    }
}