.footer {
    width: auto;
    height: 196px;
    background-color: $darkGreen;
    color: $white;
    display: flex;
    align-items: center;
    font-family: $second-font;
    @include responsive(tablet) {
        height: 271px;
    }

    .footer-info {
        width: 1110px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        @include container();
        @include responsive(tablet) {
            display: flex;
            justify-content: center;
        }

        .logo-nav {
            @include gap();
            margin-bottom: 130px;
        
            .footer-nav {
            margin-top: 24px; 
            
            }
            
        }

        .navigation {
            display: flex;
            font-size: 18px;
        }

        .link {
            padding-right: 40px;
        }

        .address {
            margin-left: -240px;
            @include responsive(tablet) {
                margin: 0;
            }
            
            .paragraph {
                font-size: 15px;
                line-height: 1.67;
                opacity: 0.5;
            }    
        }

        .social-copyright {
            @include gap();

            .social-media {
                align-self: flex-end;
                @include responsive(tablet) {
                    
                }
            }

            .white-space {
                padding-left: 16px;
            }

            .paragraph {
                font-size: 15px;
                line-height: 1.67;
                opacity: 0.6;
                align-self: flex-end;
    
                .copyright {
                    align-self: flex-end;
                }
            }
        }
    }
}