

$midnight-Green: #014e56;
$lightCoral: #f67e7e;
$white: #ffffff;
$raptureBlue: #79c8c7;
$policeBlue: #2c6269;
$deepJungleGreen: #004047;
$sacramentoStateGreen: #012f34;
$darkGreen: #002529;

$main-fonts: Livvic;
$second-font: Livvic-SemiBold;

@mixin flexCenter {
    display: flex;
    align-items: center;
}

@mixin container {
    margin: 0 auto;
    width: 1110px;
    @include responsive(laptop) {
        width: calc(100% - 200px);
    }

    @include responsive(tablet) {
        width: calc(100% - 80px);
    }

    @include responsive(mobile) {
        width: calc(100% - 48px);
    }    
}

@mixin rectangle {
    width: 50px;
    height: 4px;
}

@mixin gap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin height {
    height: 100px;
}