* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Midnight_Green: #014e56;
    --Light_Coral: #f67e7e;
    --White: #ffffff;
    --Rapture_Blue: #79c8c7;
    --Police_Blue: #2c6269;
    --Deep_Jungle_Green: #004047;
    --Sacramento_State_Green: #012f34;
    --Dark_Green: #002529;
  }

  header {
    width: auto;
    height: 700px;
    background-color: var(--Midnight_Green);
  }

  .container {
      margin: 0 auto;
      width: 1110px;
  }

  .graphics-header {
        display: flex;
        justify-content: center;
        align-items: center;
  }

  .find-the-best-talent {
    height: 606px;
    font-family: Livvic;
    font-size: 100px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: var(--White);
    display: flex;
    z-index: 2;
  }

  .talent {
    color: var(--Light_Coral);
  }

  .four-lines {
    width: 445px;
    height: 112px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--White);
  }

  .top-menu {
      height: 120px;
  }